version: '3.8'
services:
  db:
    image: postgres:17.6
    ports:
    - "5432:5432"
    environment:
    - POSTGRES_USER=postgres
    - POSTGRES_PASSWORD=postgres
    - POSTGRES_DB=mydb

  backend:
    build:
      context: ./backend
      dockerfile: dockerfile
    ports:
      - '3000:3000'
    volumes:
      - ./:/usr/src/app
      - /usr/src/app/node_modules
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/mydb
    depends_on:
      - db

  frontend:
    build:
      context: ./frontend
      dockerfile: dockerfile
    command: sh -c "ng serve --host 0.0.0.0"
    ports:
      - 4200:4200
    depends_on:
      - backend
    working_dir: /usr/src/app
volumes:
  node_modules:
